CONFIG_IDF_TARGET="esp32s3"

# Flash settings (N16R8 board)
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y

# App Partition settings
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y

# PSRAM settings (8MB Octal)
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y

# CPU freq
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

# LVGL specifics
CONFIG_LV_COLOR_16_SWAP=y
CONFIG_LV_MEM_CUSTOM=y
